Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

fix: use literal format string for log_file call
  lib/crypto/known_hosts.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto

fix: validate user-supplied log file path
  src/client/main.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

debug asan instrumentation
  cmake/debug/run_instrumentation.sh
  cmake/init/BuildTypes.cmake
  cmake/platform/Sanitizers.cmake
Due: none

renamed instr and debug to source_print and tooling. new defer tooling module init.
  CMakeLists.txt
  cmake/debug/Targets.cmake
  cmake/targets/Libraries.cmake
  cmake/targets/SourceFiles.cmake
  cmake/tooling/Instrumentation.cmake
  cmake/tooling/Targets.cmake
  cmake/tooling/run_instrumentation.sh
  docs/debug-instrumentation.md
  docs/debug/PLAN.md
  docs/debug/STATUS.md
  docs/tooling-instrumentation.md
  docs/tooling/BUILDING_TOOLING.md
  docs/tooling/COMPLETE_VERIFICATION.md
  docs/tooling/FINAL_STATUS.md
  docs/tooling/NOTES.md
  docs/tooling/PLAN.md
  docs/tooling/REORGANIZATION_SUMMARY.md
  docs/tooling/STATUS.md
  docs/tooling/defer.md
  docs/tooling/defer_implementation_status.md
  lib/debug/instrument_log.c
  lib/debug/instrument_log.h
  lib/tooling/defer/defer.c
  lib/tooling/defer/defer.h
  lib/tooling/self-source-print/instrument_cov.c
  lib/tooling/self-source-print/instrument_log.c
  lib/tooling/source_print/instrument_cov.c
  lib/tooling/source_print/instrument_log.c
  lib/tooling/source_print/instrument_log.h
  src/debug/ascii_instr_report.c
  src/debug/ascii_instr_tool.cpp
  src/tooling/self-source-print/report.c
  src/tooling/self-source-print/tool.cpp
  src/tooling/source_print/report.c
  src/tooling/source_print/tool.cpp
  tests/unit/debug/instrument_log_test.c
  tests/unit/tooling/defer/example_defer_usage.c
  tests/unit/tooling/defer/test_defer.c
  tests/unit/tooling/instrument_log_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Test Infrastructure, Header Files

only defer() transform files that call defer()
  cmake/tooling/Defer.cmake
Due: none

libc++ and mimalloc fixes for macOS builds
  cmake/tooling/Targets.cmake
Due: none

defer test. it's outside of criterion and must be run seperately. --target defer-test. all tests pass.
  cmake/targets/Tests.cmake
  cmake/tooling/DeferTransform.cmake
  tests/unit/tooling/defer_minimal_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, Test Infrastructure

PATH_DELIM and PATH_DELIM_STR #defines for POSIX and Windows. the app will only process paths for the environment it was compiled for now, and it will do it correctly (I hope.... @cursor bugbot?).
  lib/config.c
  lib/crypto/known_hosts.c
  lib/platform/system.c
  lib/platform/system.h
  lib/tooling/self-source-print/instrument_log.c
  lib/tooling/source_print/instrument_log.c
  lib/util/path.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Header Files

fix github ci deps action file syntax
  .github/actions/install-deps/action.yml
Due: none

lots of #define usage and don't build the source code print tooling instrumentation by default and fix cmake in a few other ways
  cmake/dependencies/Criterion.cmake
  cmake/targets/SourceFiles.cmake
  cmake/targets/Tests.cmake
  cmake/tooling/Defer.cmake
  cmake/tooling/Targets.cmake
  lib/common.h
  lib/config.c
  lib/crypto/crypto.h
  lib/crypto/gpg.c
  lib/crypto/handshake.c
  lib/crypto/http_client.c
  lib/crypto/keys/keys.c
  lib/crypto/keys/ssh_keys.c
  lib/crypto/known_hosts.c
  lib/crypto/ssh_agent.c
  lib/logging.c
  lib/platform/system.h
  lib/tooling/self-source-print/instrument_log.c
  lib/tooling/source_print/instrument_log.c
  lib/util/path.c
  lib/util/path.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Data Structures, Configuration, Header Files

fix it so it actually renders ascii over the network with full client server connection.. it was broken lol
  lib/image2ascii/image.c
  lib/tooling/defer/defer.c
  lib/util/path.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Video Processing

fix the test pattern
  lib/os/webcam.c
  src/client/display.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

crc32 standardized across OSs i think. byte by byte instead of byte chunks now.
  lib/crc32.c
  lib/image2ascii/simd/ascii_simd_color.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code

some crc32 debugging
  lib/crc32.c
  src/client/crypto.c
  src/client/protocol.c
  src/server/client.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

multiclient animated demonstration in README gif
  README.md
Due: none

slight cmake tweak
  cmake/tooling/Targets.cmake
Due: none

better path handling in known hosts and util/path
  lib/crypto/known_hosts.c
  lib/util/path.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto

feat: add defer() cleanup to config.c and known_hosts.c
  lib/config.c
  lib/crypto/known_hosts.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto

feat: improve CXX compiler detection using llvm-config
  cmake/compiler/LLVM.cmake
Due: none

cache better in github ci deps for cmake downloaded deps
  .github/actions/install-deps/action.yml
Due: none

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
