Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json

remove some crap
  src/server/client.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

move the project to be more ready to merge into main. all crypto tests passing.
  CLAUDE.md
  CMakeLists.txt
  lib/crypto/crypto.c
  lib/crypto/http_client.c
  lib/crypto/http_client.h
  lib/crypto/keys/gpg_keys.c
  lib/crypto/keys/https_keys.c
  lib/crypto/pem_utils.c
  lib/tests/globals.c
  tests/integration/crypto_http_client_test.c
  tests/unit/crypto_https_keys_test.c
  tests/unit/crypto_pem_utils_test.c
  tests/unit/crypto_ssh_agent_test.c
  tests/unit/crypto_test.c
  tests/unit/crypto_validation_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Integration Tests, Test Infrastructure, Header Files

rekeying
  docs/crypto.md
  lib/crypto/crypto.c
  lib/crypto/crypto.h
  lib/crypto/handshake.c
  lib/crypto/handshake.h
  lib/image2ascii/ascii.c
  lib/image2ascii/image.c
  lib/image2ascii/simd/common.c
  lib/lock_debug.c
  lib/network/packet.c
  lib/network/packet_types.h
  lib/options.c
  lib/os/linux/webcam_v4l2.c
  lib/os/webcam.c
  lib/os/windows/webcam_mediafoundation.c
  lib/platform/posix/symbols.c
  lib/version.c
  src/client/capture.c
  src/client/crypto.c
  src/client/crypto.h
  src/client/keepalive.c
  src/client/protocol.c
  src/main.c
  src/server/client.c
  src/server/crypto.c
  src/server/protocol.c
  src/server/render.c
  tests/unit/crypto_https_keys_test.c
  tests/unit/crypto_pem_utils_test.c
  tests/unit/crypto_test.c
  tests/unit/crypto_validation_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Network Protocol, Video Processing, Security & Crypto, Configuration, All SIMD Code, Test Infrastructure, Header Files

fix: correct zstd 1.5.7 SHA256 hash and improve documentation
  CLAUDE.md
  CMakeLists.txt
  README.md
  build.ps1
  cmake/MuslDependencies.cmake
  lib/asciichat_errno.c
  lib/asciichat_errno.h
  lib/audio.c
  lib/audio.h
  lib/common.c
  lib/common.h
  lib/compression.c
  lib/crypto/crypto.c
  lib/crypto/crypto.h
  lib/crypto/handshake.c
  lib/crypto/handshake.h
  lib/crypto/known_hosts.c
  lib/crypto/known_hosts.h
  lib/hashtable.c
  lib/logging.c
  lib/network/av.c
  lib/network/av.h
  lib/network/packet.c
  lib/options.c
  lib/options.h
  lib/os/windows/webcam_mediafoundation.c
  lib/platform/windows/socket.c
  lib/ringbuffer.h
  release.sh
  src/client/audio.c
  src/client/main.c
  src/client/protocol.c
  src/client/server.c
  src/server/client.c
  src/server/main.c
  src/server/protocol.c
  src/server/render.c
  tests/unit/crypto_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Network Protocol, Audio Processing, Security & Crypto, Data Structures, Configuration, Test Infrastructure, Header Files

some linux fixes. building release and debug with musl is fine now.
  CMakeLists.txt
  CMakePresets.json
  Makefile
  cmake/MuslDependencies.cmake
  cmake/Sanitizers.cmake
  cmake/clean_comment.sh
  lib/crypto/known_hosts.c
  lib/platform/posix/system.c
  lib/platform/symbols.c
  lib/util/ip.c
  lib/util/path.c
  src/server/stream.c
  tests/integration/ascii_simd_integration_test.c
  tests/integration/main_integration_test.c
  tests/unit/crypto_known_hosts_test.c
  tests/unit/crypto_options_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Security & Crypto, Integration Tests, All SIMD Code, Test Infrastructure

mimalloc and musl for release baby
  CMakeLists.txt
Due: none

deps scripts and system.c and fix some builds bugs
  CMakeLists.txt
  README.md
  cmake/MuslDependencies.cmake
  lib/common.h
  lib/crypto/gpg.c
  lib/crypto/handshake.h
  lib/crypto/keys/ssh_keys.c
  lib/lock_debug.c
  lib/lock_debug.h
  lib/logging.c
  lib/logging.h
  lib/options.c
  lib/platform/abstraction.h
  lib/platform/posix/socket.c
  lib/platform/posix/system.c
  lib/platform/socket.h
  lib/platform/symbols.c
  lib/platform/symbols.h
  lib/platform/system.c
  lib/platform/system.h
  lib/platform/windows/socket.c
  lib/platform/windows/string.c
  lib/platform/windows/symbols.c
  lib/platform/windows/system.c
  scripts/deps.ps1
  scripts/deps.sh
  src/client/main.c
  src/server/main.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Data Structures, Configuration, Header Files

fix: correct BearSSL Makefile target for Unix builds
  CMakeLists.txt
  cmake/MuslDependencies.cmake
Due: none

remove some crap and make some logs go away with (void)var;
  .github/workflows/performance.yml
  lib/logging.c
  lib/platform/posix/system.c
  lib/platform/windows/thread.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

fixed all the workflows for bearssl
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/documentation.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  README.md
  cmake/CompilerFlags.cmake
  lib/platform/posix/symbols.c
  lib/platform/symbols.h
  scripts/deps.sh
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Header Files

add jack back
  CMakeLists.txt
Due: none

add musl-tools and musl-dev to apt-get install deps action for github actions
  .github/actions/install-deps/action.yml
Due: none

add zstd to homebrew packages github deps action for workflows
  .github/actions/install-deps/action.yml
Due: none

fix compilation error on linux with network_error_string()
  lib/network/network.h
  tests/unit/network_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Test Infrastructure, Header Files

fix: use Mach-O section format for macOS binary metadata
  lib/version.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: add zlib to test linker flags for libgit2 dependency
  CMakeLists.txt
Due: none

fix: use absolute path for clang++ in musl builds
  CMakeLists.txt
Due: none

fix build with --host for a musl dep
  cmake/MuslDependencies.cmake
Due: none

fix a couple macos issues with types and SAFE_MALLOC usage
  lib/image2ascii/simd/neon.c
  lib/os/macos/webcam_avfoundation.m
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code, Platform-Specific Code
