Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json

move the av module around
  lib/network/av.c
  lib/network/av.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Header Files

lots more tiny documentation fixes and manpage support
  cmake/Documentation.cmake
  docs/topics.dox
  docs/topics/audio.dox
  docs/topics/buffer_pool.dox
  docs/topics/client.dox
  docs/topics/common_fixed.dox
  docs/topics/compression.dox
  docs/topics/crypto.dox
  docs/topics/handshake_temp.dox
  docs/topics/hashtable.dox
  docs/topics/logging.dox
  docs/topics/mixer.dox
  docs/topics/network.dox
  docs/topics/packet_queue.dox
  docs/topics/palette.dox
  docs/topics/platform.dox
  docs/topics/platform_fixed.dox
  docs/topics/ringbuffer.dox
  docs/topics/server.dox
  lib/buffer_pool.h
  lib/hashtable.h
  lib/options.h
  lib/packet_queue.h
  lib/ringbuffer.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Audio Processing, Data Structures, Configuration, Header Files

some docs cleanup
  docs/crypto.md
  docs/topics/crypto_detailed.dox
Due: none

a bunch more docs updates
  Doxyfile.in
  DoxygenLayout.xml
  docs/ERRNO_SYSTEM.md
  docs/EXIT_CODES.md
  docs/mainpage.dox
  docs/topics/buffer_pool.dox
  docs/topics/config.dox
  docs/topics/exit_codes.dox
  docs/topics/index.dox
  docs/topics/lock_debug.dox
  docs/topics/network.dox
  docs/topics/testing.dox
  lib/buffer_pool.h
  lib/network/network.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Data Structures, Header Files

some more slight docs cleanup
  docs/mainpage.dox
  docs/topics/crypto_detailed.dox
  docs/topics/index.dox
  docs/topics/os.dox
  docs/topics/platform.dox
  lib/options.h
  lib/os/webcam.h
  lib/platform/abstraction.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration, Header Files

native decryption of openssh keys minus ssh-keygen i don't need ssh-keygen! my code works!
  .gitignore
  .gitmodules
  CMakeLists.txt
  README.md
  cmake/Documentation.cmake
  cmake/Libraries.cmake
  cmake/LibsodiumBcryptPbkdf.cmake
  cmake/SourceFiles.cmake
  cmake/Tomlc17.cmake
  cmake/libsodium-bcrypt-pbkdf-fix-ubsan.patch
  cmake/libsodium-bcrypt-pbkdf/.patch_applied
  docs/Doxyfile.in
  docs/DoxygenLayout.xml.in
  docs/topics/client.dox
  docs/topics/client_crypto.dox
  docs/topics/crypto_detailed.dox
  docs/topics/server.dox
  docs/topics/server_crypto.dox
  lib/crypto/keys/ssh_keys.c
  lib/crypto/keys/ssh_keys.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Header Files

docs only commit
  docs/mainpage.dox
  docs/topics.dox
  docs/topics/audio.dox
  docs/topics/client.dox
  docs/topics/client_protocol.dox
  docs/topics/crypto_detailed.dox
  docs/topics/handshake.dox
  docs/topics/index.dox
  docs/topics/keys.dox
  docs/topics/main.dox
  docs/topics/server.dox
  docs/topics/server_protocol.dox
  docs/topics/util.dox
  lib/logging.h
  lib/network/av.h
  lib/network/network.h
  lib/util/util.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Configuration, Header Files

better docs
  TESTING.md
  docs/mainpage.dox
  docs/topics/build.dox
  docs/topics/debug.dox
  docs/topics/exit_codes.dox
  docs/topics/index.dox
  docs/topics/platform.dox
  docs/topics/testing.dox
  lib/common.h
  lib/crypto/keys/ssh_keys.c
  lib/crypto/ssh_agent.c
  lib/crypto/ssh_agent.h
  lib/image2ascii/simd/neon.c
  lib/platform/symbols.c
  tests/TESTING_NOTES.md
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, Security & Crypto, Data Structures, All SIMD Code, Header Files, Platform-Specific Code

little bit of cleanup
  cmake/CompilerFlags.cmake
  cmake/Libraries.cmake
  cmake/SourceFiles.cmake
  cmake/libsodium-bcrypt-pbkdf-fix-ubsan.patch
  cmake/libsodium-bcrypt-pbkdf/.patch_applied
  docs/topics/crypto_detailed.dox
  lib/crypto/keys/ssh_keys.c
  lib/version.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto

fixes #74 - removes mutexes from packet queues and uses atomics instead (lock-free)
  cmake/Executables.cmake
  lib/packet_queue.c
  lib/packet_queue.h
  lib/util/time_format.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Header Files

added a message that always shows whenever cmake is able to link the binary
  cmake/Executables.cmake
Due: none

added message for the message
  cmake/Executables.cmake
Due: none

clean up cmake a bunch. add cmake/Install.cmake documentation. work on Install.cmake and installed nsis to make valid installer (it works).
  CMakeLists.txt
  LICENSE.txt
  cmake/BuildConfiguration.cmake
  cmake/CustomTargets.cmake
  cmake/Executables.cmake
  cmake/Init.cmake
  cmake/Install.cmake
  cmake/Version.cmake
  cmake/remove_paths.sh
  docs/topics/build.dox
Due: none

reorganize CMakeLists.txt and clean up the windows installer generator config
  CMakeLists.txt
  LICENSE.txt
  cmake/BuildConfiguration.cmake
  cmake/Documentation.cmake
  cmake/Init.cmake
  cmake/Install.cmake
  cmake/PostBuild.cmake
  docs/topics/build.dox
Due: none

clean up memory on exit
  cmake/Sanitizers.cmake
  lib/common.h
  lib/image2ascii/simd/common.c
  lib/lock_debug.c
  lib/lock_debug.h
  lib/platform/symbols.c
  lib/util/uthash.h
  src/main.c
  src/server/client.c
  src/server/main.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, Data Structures, All SIMD Code, Header Files

we use doxygen now
  lib/platform/README.md
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos
