Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

use a helper function for listing device types on macos
  lib/os/macos/webcam_avfoundation.m
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

install the powershell script on unix and windows
  cmake/install/Install.cmake
  share/completions/ascii-chat.ps1
Due: none

fix(tooling): Attempt 14 - use SDK libc++ with -nostdinc (no -isysroot)
  notes/macos-homebrew-llvm-build-issue.md
  src/tooling/defer/CMakeLists.txt
  src/tooling/panic/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix defer tool build issue macos
  src/tooling/defer/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix some build issues on macos involving mimalloc and sanitizers
  cmake/dependencies/Mimalloc.cmake
  cmake/targets/Tests.cmake
  notes/macos-homebrew-llvm-build-issue.md
Due: none

fix(tooling): Attempt 17 - force-include stddef.h before other headers
  src/tooling/defer/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

notes from the recent debacle
  notes/macos-homebrew-llvm-build-issue.md
Due: none

fix(tooling): Attempt 18 - force-include clang's stddef.h with FULL PATH
  notes/macos-homebrew-llvm-build-issue.md
  src/tooling/defer/CMakeLists.txt
  src/tooling/panic/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

Attempt 19: Use Apple system clang for tooling compilation
  notes/macos-homebrew-llvm-build-issue.md
  src/tooling/defer/CMakeLists.txt
  src/tooling/panic/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix(macos): use Apple system clang for tooling builds via ExternalProject
  cmake/tooling/Defer.cmake
  cmake/tooling/Panic.cmake
  notes/macos-homebrew-llvm-build-issue.md
  src/tooling/defer/CMakeLists.txt
  src/tooling/panic/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

prevent claude from doing more stuff with git project-wide
  .claude/settings.json
Due: none

hopefully fix macos mimalloc build issues in release mode
  cmake/dependencies/Mimalloc.cmake
  cmake/targets/TestLibs.cmake
  cmake/targets/Tests.cmake
Due: none

fix bug where va_list got leaked and we also didn't unlock a mutex before returning (umm defer!)
  lib/logging.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

fix(neon): remove duplicate rgb_to_256color, use shared version from ansi_fast.c
  lib/image2ascii/simd/neon.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code, Platform-Specific Code

refactor(scripts): rename deps.sh/ps1 to install-deps.sh/ps1
  .github/actions/install-deps/action.yml
  README.md
  cmake/utils/StatusMessages.cmake
  scripts/developer-helpers.ps1
  scripts/developer-helpers.zsh
  scripts/install-deps.ps1
  scripts/install-deps.sh
  tests/Dockerfile.debian
  tests/Dockerfile.fedora
  tests/docker-compose.yml
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage

docs(cmake): recommend install-deps scripts when dependencies missing
  cmake/ProjectConstants.cmake
  cmake/dependencies/Libsodium.cmake
  cmake/dependencies/Portaudio.cmake
  cmake/dependencies/Zstd.cmake
  cmake/utils/StatusMessages.cmake
Due: none

fix bad code
  lib/image2ascii/simd/ascii_simd.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code

fix(ci): update step IDs after deps.sh rename
  .github/actions/install-deps/action.yml
Due: none

fix tests macos
  tests/integration/ascii_simd_integration_test.c
  tests/integration/crypto_handshake_integration_test.c
  tests/unit/crypto/crypto_test.c
  tests/unit/ip_test.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ASCII Art Engine, Security & Crypto, Integration Tests, All SIMD Code, Test Infrastructure

have the build time how long tests take to build. all types of tests.
  cmake/targets/Tests.cmake
Due: none

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
