Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

Fixed 5 critical bugs identified in PR #80 code review:
  CMakeLists.txt
  lib/image2ascii/simd/ascii_simd_color.c
  lib/image2ascii/simd/avx2.c
  lib/lock_debug.c
  lib/mixer.c
  lib/platform/windows/system.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Audio Processing, Video Processing, All SIMD Code, Platform-Specific Code

fix: resolve remaining 5 critical buffer overflow bugs
  lib/ansi_fast.c
  lib/image2ascii/ascii.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Video Processing, Terminal Output

fix: correct buffer size parameter in output_buffer.c
  lib/image2ascii/output_buffer.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Video Processing

optional dep
  CMakeLists.txt
Due: none

fix: correct SAFE_STRNCPY buffer size in options.c
  lib/options.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

fix: remove non-async-signal-safe call from signal handler
  src/server/main.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

Potential fix for code scanning alert no. 237: Uncontrolled data used in path expression
  lib/platform/posix/terminal.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: remove conflicting tcp_keepalive struct definition on Windows
  lib/platform/windows/socket.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: correct SIMD fallback dimension calculation in YUY2 conversion
  lib/image2ascii/simd/yuv.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code

fix: add error checking and validation to platform utilities
  lib/platform/posix/cond.c
  lib/utf8.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: use atomic_load for consistent client_id access
  src/server/client.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: address new cursor bugbot reviews (buffer overflow + dangling pointers)
  lib/ansi_fast.c
  lib/image2ascii/simd/common.c
  lib/mixer.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Audio Processing, Video Processing, Terminal Output, All SIMD Code

fix: resolve 13 new cursor bugbot reviews (2 bugs + 11 false positives)
  tests/unit/hashtable_test.c
  todo/websockets.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, Data Structures, Test Infrastructure

clang-tidy
  lib/image2ascii/image.c
  lib/image2ascii/simd/common.c
  lib/image2ascii/simd/sse2.c
  lib/lock_debug.c
  lib/mixer.c
  lib/palette.c
  lib/platform/internal.h
  src/server/stream.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Audio Processing, Video Processing, Terminal Output, All SIMD Code, Header Files, Platform-Specific Code

fix: clang-tidy
  lib/image2ascii/simd/common.c
  lib/mixer.c
  lib/platform/posix/system.c
  lib/tests/common.h
  lib/utf8.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Audio Processing, Video Processing, All SIMD Code, Header Files

release mode musl libc + mimalloc
  CMakeLists.txt
  CMakePresets.json
Due: none

readme and RelWithDebInfo
  CMakeLists.txt
  CMakePresets.json
  README.md
Due: none

readme
  README.md
Due: none

libs on linux
  CMakeLists.txt
Due: none

ci fixes
  CMakeLists.txt
Due: none

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
