Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json

fix bug 2 deps 2 fix
  cmake/Dependencies.cmake
  cmake/Mimalloc.cmake
Due: none

Add CPack installation instructions for Linux, macOS, and Windows
  docs/topics/build.dox
Due: none

Update defaults and add IPv6 support for server
  README.md
  lib/image2ascii/ascii.h
  lib/options.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Video Processing, Configuration, Header Files

now the shared library build time is colorful
  cmake/utils/CustomTargets.cmake
Due: none

added a bunch of color to cmake logs
  cmake/compiler/LLVM.cmake
  cmake/dependencies/MuslDependencies.cmake
  cmake/platform/Musl.cmake
  cmake/utils/CustomTargets.cmake
  cmake/utils/StatusMessages.cmake
Due: none

wix installer for msis with cmake's cpack. also making sure docker test env is doing Debug shared libs and binaries but CAN do Release static
  CMakePresets.json
  README.md
  cmake/install/Install.cmake
  cmake/install/LICENSE.rtf
  cmake/install/Nsis.cmake
  cmake/install/Wix.cmake
  cmake/install/wix_patch.xml
  cmake/targets/TestLibs.cmake
  cmake/test/test_lib.c
  cmake/test/test_static_lib.c
  docs/topics/build.dox
  lib/logging.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

forgot this bit
  cmake/targets/TestLibs.cmake
Due: none

this command works in the docker test env and locally on windows: time cmake --preset release -B build; time cmake --build build --target test-shared-lib --target test-static-lib
  cmake/targets/Libraries.cmake
  cmake/targets/TestLibs.cmake
Due: none

quiet build commands (shh)
  cmake/targets/Executables.cmake
  cmake/targets/Libraries.cmake
  cmake/utils/BuildTiming.cmake
Due: none

even quieter logs and the shared-lib and static-lib targets both compile on Windows in Debug and Release mode
  cmake/dependencies/Libsodium.cmake
  cmake/targets/Executables.cmake
  cmake/targets/Libraries.cmake
Due: none

camera flash emoji images for the package installers that i forgot from a few commits ago. will need icns file for macos
  images/installer_icon.ico
  images/installer_icon.png
Due: none

uninstall v4l2
  .github/actions/install-deps/action.yml
  README.md
  tests/Dockerfile
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage

some cleanup involving the past few commits, very minor
  .gitignore
  CMakeLists.txt
  notes/YUY2_HARDWARE_ACCELERATION_RESEARCH.md
  scripts/deps.sh
  tests/Dockerfile.debian
  tests/Dockerfile.fedora
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage

fix a cmake preset bug cursorbot found
  CMakePresets.json
Due: none

fix another bug cursorbot found with logging and stderr fileno
  lib/logging.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

update-alternatives debian test dockerfile ALL tools to llvm-21
  tests/Dockerfile.debian
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage

colorize a bunch of stuff and fix a macos build bug and delete a dependencies file i accidentally kept
  cmake/Dependencies.cmake
  cmake/ProjectConstants.cmake
  cmake/compiler/CCache.cmake
  cmake/compiler/CompilerDetection.cmake
  cmake/compiler/CompilerFlags.cmake
  cmake/compiler/LLVM.cmake
  cmake/compiler/PCH.cmake
  cmake/dependencies/Criterion.cmake
  cmake/dependencies/WindowsSDK.cmake
  cmake/dependencies/Zstd.cmake
  cmake/install/Deb.cmake
  cmake/install/Install.cmake
  cmake/install/Version.cmake
  cmake/install/Wix.cmake
  cmake/utils/PostBuild.cmake
  docs/topics/build.dox
  lib/image2ascii/simd/ascii_simd.c
  lib/image2ascii/simd/ascii_simd_color.c
  lib/image2ascii/simd/common.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code

moved over to linux and got things compiling here. it seems to work
  CMakeLists.txt
  cmake/compiler/CompilerFlags.cmake
  cmake/compiler/LLVM.cmake
  cmake/dependencies/BearSSL.cmake
  cmake/dependencies/Mimalloc.cmake
  cmake/install/Install.cmake
  cmake/platform/Sanitizers.cmake
  cmake/scripts/ar_wrapper.sh
  cmake/scripts/ar_wrapper.sh.in
  cmake/scripts/rename_objects.sh
  cmake/targets/Executables.cmake
  cmake/targets/Libraries.cmake
  cmake/targets/SourceFiles.cmake
  cmake/targets/TestLibs.cmake
  cmake/utils/CustomTargets.cmake
  cmake/utils/Timer.cmake
  cmake/utils/TimerTargets.cmake
  lib/common.c
  lib/crypto/keys/gpg_stubs.c
  lib/logging.c
  lib/logging.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Data Structures, Configuration, Header Files

stable on macos i think
  cmake/compiler/CompilerFlags.cmake
  cmake/compiler/LLVM.cmake
  cmake/dependencies/Libsodium.cmake
  cmake/dependencies/Mimalloc.cmake
  cmake/dependencies/PlatformLibraries.cmake
  cmake/dependencies/Portaudio.cmake
  cmake/dependencies/Zstd.cmake
  cmake/install/Archive.cmake
  cmake/install/Deb.cmake
  cmake/install/Install.cmake
  cmake/install/Nsis.cmake
  cmake/install/Productbuild.cmake
  cmake/install/Rpm.cmake
  cmake/install/Stgz.cmake
  cmake/targets/Libraries.cmake
  cmake/utils/PostBuild.cmake
  lib/options.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Configuration

some sanity checks from the cmake open source modules provided by cmake
  CMakeLists.txt
  cmake/compiler/CompilerFlags.cmake
  cmake/compiler/HeaderChecks.cmake
  cmake/compiler/LLVM.cmake
  cmake/install/Install.cmake
  cmake/targets/Executables.cmake
  cmake/targets/TestLibs.cmake
Due: none
