Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

fix mimalloc build error macos
  CMakeLists.txt
  cmake/CompilerFlags.cmake
  lib/platform/windows/thread.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix: remove conflicting CMAKE_BUILD_TYPE override in performance workflow
  .github/workflows/performance.yml
Due: none

fix: use ERROR_WEBCAM instead of undefined ERROR_VIDEO in macOS webcam
  lib/os/macos/webcam_avfoundation.m
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

clean up some paths for debugging and get the project source root out of the project
  .github/actions/install-deps/action.yml
  CMakeLists.txt
  lib/common.c
  lib/crypto/gpg.c
  lib/crypto/keys/ssh_keys.c
  lib/network/network.h
  lib/platform/symbols.c
  lib/platform/windows/system.c
  lib/util/path.c
  lib/util/path.h
  lib/util/string.c
  lib/util/string.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Network Protocol, Security & Crypto, Data Structures, Header Files

simd aligned memory reads and some mroe cleanup
  CMakeLists.txt
  cmake/CompilerFlags.cmake
  cmake/SIMD.cmake
  cmake/remove_paths.ps1
  lib/asciichat_errno.h
  lib/buffer_pool.c
  lib/common.h
  lib/crypto/keys/keys.c
  lib/crypto/keys/ssh_keys.c
  lib/image2ascii/image.c
  lib/image2ascii/simd/neon.c
  lib/lock_debug.c
  lib/lock_debug.h
  lib/logging.h
  lib/network/network.c
  lib/os/windows/webcam_mediafoundation.c
  lib/platform/posix/system.c
  lib/platform/symbols.c
  lib/video_frame.c
  src/client/main.c
  src/server/client.c
  src/server/main.c
  src/server/stream.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Network Protocol, Video Processing, Security & Crypto, Data Structures, Configuration, All SIMD Code, Header Files, Platform-Specific Code

no jack with musl
  CMakeLists.txt
Due: none

only compile in necessary simd code and properly reference functions that are compiled in only. also code format.
  lib/asciichat_errno.h
  lib/crypto/keys/ssh_keys.c
  lib/image2ascii/simd/common.c
  lib/logging.h
  lib/util/path.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, Security & Crypto, Configuration, All SIMD Code, Header Files

better replace paths sh script with perl for unix
  CMakeLists.txt
  cmake/remove_paths.sh
Due: none

description yay
  cmake/Version.cmake
  cmake/remove_paths.ps1
  lib/buffer_pool.c
  lib/options.c
  lib/version.c
  lib/version.h.in
  src/main.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Data Structures, Configuration

modularize cmake some more and make sure only one simd gets compiled in for sure this time mmhmm
  CMakeLists.txt
  Makefile
  cmake/Dependencies.cmake
  cmake/Mimalloc.cmake
  cmake/PostBuild.cmake
  cmake/SIMD.cmake
  lib/image2ascii/ascii.c
  lib/image2ascii/image.c
  lib/image2ascii/simd/ascii_simd.c
  lib/image2ascii/simd/ascii_simd.h
  lib/image2ascii/simd/ascii_simd_color.c
  lib/image2ascii/simd/avx2.c
  lib/image2ascii/simd/avx2.h
  lib/image2ascii/simd/common.c
  lib/image2ascii/simd/neon.c
  lib/image2ascii/simd/neon.h
  lib/image2ascii/simd/sse2.c
  lib/image2ascii/simd/sse2.h
  lib/image2ascii/simd/ssse3.c
  lib/image2ascii/simd/ssse3.h
  lib/image2ascii/simd/sve.c
  lib/image2ascii/simd/sve.h
  lib/image2ascii/simd/yuv.c
  lib/image2ascii/simd/yuv.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, SIMD Optimizations, Video Processing, All SIMD Code, Header Files, Platform-Specific Code

we have a shared init for the client and server now, for shared functions, in common.c. cleaned up logging a bunch too to make it more profesional
  lib/common.c
  lib/common.h
  lib/crypto/handshake.c
  src/client/capture.c
  src/client/crypto.c
  src/client/keepalive.c
  src/client/main.c
  src/client/protocol.c
  src/client/server.c
  src/server/client.c
  src/server/crypto.c
  src/server/main.c
  src/server/protocol.c
  src/server/render.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Data Structures, Header Files

fix a bug that caused it not to compile on linux or macos
  src/client/capture.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix a cmake bug and much better version. and version.h.in
  cmake/Musl.cmake
  cmake/PostBuild.cmake
  cmake/clean_comment.sh
  lib/version.c
  lib/version.h.in
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

modularize cmakelists.txt entirely wow!
  CMakeLists.txt
  CMakePresets.json
  cmake/BuildConfiguration.cmake
  cmake/BuildTypes.cmake
  cmake/CompilerDetection.cmake
  cmake/CompilerFlags.cmake
  cmake/CustomTargets.cmake
  cmake/Executables.cmake
  cmake/Include.cmake
  cmake/Init.cmake
  cmake/LLVM.cmake
  cmake/Libraries.cmake
  cmake/MODULARIZATION_PLAN.md
  cmake/Musl.cmake
  cmake/Options.cmake
  cmake/PCH.cmake
  cmake/PlatformDetection.cmake
  cmake/PostBuild.cmake
  cmake/SourceFiles.cmake
  cmake/StatusMessages.cmake
  cmake/Tests.cmake
  cmake/WindowsWorkarounds.cmake
  lib/asciichat_errno.h
  lib/common.c
  src/client/crypto.c
  src/client/protocol.c
  src/main.c
  src/server/client.c
  src/server/protocol.c
  src/server/render.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, ASCII Art Engine, Data Structures, Header Files

we don't need that file oops
  cmake/MODULARIZATION_PLAN.md
Due: none

needed a version suffix that can be the empty string sometimes clean fresh new tagged and committed code will generate a nice clean version string without a trailing dash
  cmake/Version.cmake
  lib/version.h.in
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

track aligns and now rely on wsl or git bash to build releases because cmake runs a shell script on release to remove paths i don't want released in the binary
  cmake/CompilerFlags.cmake
  cmake/PostBuild.cmake
  cmake/remove_paths.ps1
  cmake/remove_paths.sh
  lib/common.c
  lib/common.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Data Structures, Header Files

actually remove paths on windows AND linux with bash and python (no perl) now too
  cmake/remove_paths.sh
Due: none

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
