Repository zfogg/ascii-chat: changes, and which Codecov flags are due for each by the changed paths.
All: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Server Core, Client Core, ASCII Art Engine, SIMD Optimizations, Network Protocol, Audio Processing, Video Processing, Security & Crypto, Data Structures, Terminal Output, Configuration, Integration Tests, All SIMD Code, Test Infrastructure, Header Files, Platform-Specific Code

update cmake defer
  src/tooling/defer/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

use ALLOC_FREE to match all that SAFE_MALLOC supports
  lib/tooling/defer/defer.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

defer() now needs no runtime and inserts code where it should be, and supports defer({/*...*/}) blocks.
  cmake/Mimalloc.cmake
  cmake/utils/Timer.cmake
  lib/config.c
  src/tooling/defer/tool.cpp
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix a few bugs where the client was hanging and crashing and not exiting properly. also removed defer runtime because the defer tooling now does proper insertion of the necessary code
  CMakePresets.json
  cmake/install/ascii-chat.pc.in
  cmake/targets/SourceFiles.cmake
  cmake/tooling/Defer.cmake
  cmake/tooling/DeferTransform.cmake
  cmake/utils/StatusMessages.cmake
  docs/topics/build.dox
  lib/os/linux/webcam_v4l2.c
  lib/os/webcam.c
  lib/os/webcam.h
  lib/os/windows/webcam_mediafoundation.c
  lib/platform/posix/system.c
  lib/platform/system.h
  lib/platform/windows/system.c
  lib/tooling/defer/defer.c
  lib/tooling/defer/defer.h
  src/client/capture.c
  src/client/main.c
  src/client/protocol.c
  src/client/server.c
  src/tooling/defer/CMakeLists.txt
  tests/unit/tooling/defer/example_defer_usage.c
  tests/unit/tooling/defer/test_defer.c
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Test Infrastructure, Header Files

some clang-form settings for vscode/cursor
  .vscode/settings.json
Due: none

automatically publish doxygen docs to GitHub Pages
  .github/workflows/doxygen.yml
Due: none

rename ASCII_BUILD_WITH_DEFER to ASCIICHAT_BUILD_WITH_DEFER
  cmake/tooling/Defer.cmake
  docs/tooling/BUILDING_TOOLING.md
  docs/tooling/REORGANIZATION_SUMMARY.md
  docs/tooling/defer.md
  docs/tooling/defer_implementation_status.md
Due: none

fix bug where we had double prefixed cmake cache variables
  cmake/compiler/CRC32.cmake
Due: none

Potential fix for code scanning alert no. 412: For loop variable changed in body
  src/tooling/defer/tool.cpp
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix deps for apt github install action.. we hash base packages and use the hash as part of the the cache key now like we should. also testing doxygen gh pages workflow in a pr.
  .github/actions/install-deps/action.yml
  .github/workflows/doxygen.yml
Due: none

.deps-cache-docker is now gone
  CMakeLists.txt
  README.md
  cmake/init/BuildTypes.cmake
  cmake/init/Init.cmake
  cmake/install/Archive.cmake
  cmake/install/Install.cmake
  cmake/install/ascii-chat.pc.in
  cmake/tooling/Defer.cmake
  cmake/tooling/run_defer.sh
  cmake/tooling/run_instrumentation.sh
  src/tooling/defer/tool.cpp
  tests/docker-compose.yml
  tests/scripts/run-docker-tests.ps1
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

fix bug in defer tool
  src/tooling/defer/tool.cpp
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

some unity build header include fixes
  lib/common.h
  lib/crypto/keys/ssh_keys.c
  lib/crypto/keys/validation.c
  lib/crypto/known_hosts.c
  lib/platform/pipe.h
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos, Security & Crypto, Data Structures, Header Files

git rid of header include warning for sodium
  .clang-tidy
Due: none

deploy docs now
  .github/workflows/doxygen.yml
Due: none

few fixes from @cursor bugbot that i definitely want in master. also we're gonna try to deploy docs again.
  .github/actions/install-deps/action.yml
  .github/workflows/doxygen.yml
  CMakeLists.txt
  cmake/tooling/Defer.cmake
  cmake/tooling/Targets.cmake
Due: none

some docs updates
  docs/mainpage.dox
  docs/topics/crypto_detailed.dox
  docs/topics/index.dox
Due: none

cmake 4.2 required minimum version. install prefix defaults to the proper Program Files dir for x64 executables.
  README.md
  cmake/dependencies/patches/tomlc17-fix-windows-deprecation.patch
  cmake/init/BuildConfiguration.cmake
  tests/Dockerfile
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage

cmake 4.2 support in github actions
  .github/actions/install-deps/action.yml
Due: none

better wix settings to create start menu shortcuts to the docs and the installer on Windows
  cmake/install/Install.cmake
  cmake/install/wix_patch.xml
  src/tooling/defer/CMakeLists.txt
Due: ascii-chat-tests-ubuntu-debug, ascii-chat-tests-ubuntu-release, ascii-chat-tests-macos-debug, ascii-chat-tests-macos-release, ascii-chat-tests, coverage, ascii-chat-integration-ubuntu, ascii-chat-integration-macos, ascii-chat-performance-ubuntu, ascii-chat-performance-macos

Path conditions:
  ascii-chat-tests-ubuntu-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-ubuntu-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-debug: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests-macos-release: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-tests: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  coverage: any of: lib/, src/, tests/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-ubuntu: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-integration-macos: any of: lib/, src/, tests/integration/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-ubuntu: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ascii-chat-performance-macos: any of: lib/, src/, tests/performance/, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Server Core: any of: src/server.c, tests/**/server*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Client Core: any of: src/client.c, tests/**/client*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  ASCII Art Engine: any of: lib/ascii*.c, lib/ascii*.h, lib/image2ascii/**/*, tests/**/ascii*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  SIMD Optimizations: any of: lib/ascii_simd*.c, lib/ascii_simd*.h, lib/image2ascii/simd/**/*, tests/**/simd*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Network Protocol: any of: lib/network.*, lib/packet_queue.*, tests/**/network*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Audio Processing: any of: lib/audio.*, lib/mixer.*, lib/ringbuffer.*, tests/**/audio*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Video Processing: any of: lib/image.*, lib/webcam*.*, lib/aspect_ratio.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Security & Crypto: any of: lib/crypto.*, lib/crc32_hw.*, tests/**/crypto*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Data Structures: any of: lib/buffer_pool.*, lib/hashtable.*, lib/common.*, tests/**/buffer_pool*.c, tests/**/hashtable*.c, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Terminal Output: any of: lib/ansi_fast.*, lib/terminal_detect.*, lib/palette.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Configuration: any of: lib/options.*, lib/logging.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Integration Tests: any of: tests/integration/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  All SIMD Code: any of: .*simd.*, lib/image2ascii/simd/**/*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Test Infrastructure: any of: tests/**/*.c, tests/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Header Files: any of: lib/**/*.h, src/**/*.h, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
  Platform-Specific Code: any of: lib/webcam_avfoundation.m, lib/webcam_v4l2.c, lib/webcam_platform.*, lib/image2ascii/simd/neon.*, lib/image2ascii/simd/sse.*, lib/image2ascii/simd/avx.*, but not: build/**/*, bin/**/*, *.gcov, **/*.gcov, .github/**/*, notes/**/*, todo/**/*, README.md, Makefile*, Info.plist, **/.DS_Store, **/compile_commands.json
